/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-------------------------START CUSTOM CSS--------------------------*/

html, textarea, button{
  font-family: 'Montserrat',sans-serif;
}

body {
  background: #8bcfda;
  height: 100%;
  line-height: 1.25;
}

.container{
	display: flex;
	align-items: center;
	flex-flow: row wrap;
	justify-content: center;
	max-width: 1200px;
	margin: 0 auto;
}

h1{
  color: white;
  /*margin: 15px 0px 20px 0px;*/
  text-align: center;
  padding: 1em 1em 0.5em 1em;
  font-size: 2em;
  width:100%;
}

/*-------------Chat Bubbles--------------------*/
#chat-space{
  display: grid;
  grid-auto-rows: min-content;
  width: 85%;
  height: 55vh;
  background:#e4dfda;
  border-radius: 15px;
  overflow: auto;
}

#chat-space p {
  padding: 0.75em;
  margin:0.75em;
  background: #e8f5f8;
  border-radius: 5px 30px 30px;
  width: 75%;
}
/*Styling for TIMESTAMP*/
span{
  font-size: 0.6em;
  color: #3c454c;
}

/*----------------Area for Message Input----------------*/
#message-input{
  margin-top: 10px;
  width: 85%;
}

textarea{
  resize: none;
  width: 96%;
  border-radius: 10px;
  padding: 1% 2%;
  border: none;
}

button{
  border:none;
  padding:10px;
  border-radius: 10px;
  background: #ec5f59;
  cursor:pointer;
  font-size: 1.25em;
  color: white;
  width: 100%;
  margin: 0.5em 0 0 0;
}

.buttonHover{
  background: #078aba;
}

/*----------------Customization for different Devices--------------------*/

/*---------- Tablets + ----------*/
@media (min-width: 768px){

    h1 {
      padding: 2em;
      font-size: 3vh;
    }
    #chat-space{
      width: 60%;
    }
    #chat-space p{
      width: 60%;
    }
    #message-input{
      width: 60%;
    }
  }

  /*---------- Desktops ----------*/
  @media (min-width: 1200px){
    h1 {
      padding: 1.5em;
      font-size: 3.5vw;
    }
   #chat-space p {
      width: 50%;
    }
  }
